<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-language" content="es"/>
    <base href="{global.baseUrl}"/>
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}"/>

    <!-- Static Assests -->
    <link type="image/x-icon" rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>
<body class="{body.class}">
    <!-- Page wrapper -->
    <div class="wrapper">
        <!-- Header -->
        <div class="header">
            <!-- Logo -->
            <a class="Logo" href="/"></a>
            <!-- Navigation -->
            <ul classs="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/" class="loggedOut">Signup</a></li>
                <li><a href="/" class="loggedOut">Login</a></li>
                <li><a href="/" class="loggedIn">Dashboard</a></li>
                <li><a href="/" class="loggedIn">Account Settings</a></li>
                <li><a href="/" class="loggedIn">Logout</a></li>
            </ul>
        </div>

        <!-- Page-Specific Content -->
        <div class="content">
            